$color-primary: #75ecba;
$color-primary-dark: #35c4fd;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-grey-dark;
    box-sizing: border-box;
}

.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px $color-grey-dark;

    &__logo-box {
        height: 100%;
        margin-left: 1.5rem;

        a {
            display: flex;
            text-decoration: none;
            height: 100%;
            justify-content: center;
            align-items: center;

            .logo--box {
                height: 40px;
                width: 40px;
                margin-left: 5px;
                text-transform: uppercase;
                padding: 10px;
                background: linear-gradient(
                    135deg,
                    $color-primary 35%,
                    $color-primary-dark 80%
                );
                text-align: center;
                color: $color-white;
                font-weight: 700;
            } //fim logo--box
        } // fim a
    } // fim logo-box

    &__navbar {
        margin-right: 10px;

        .nav {
            display: flex;
            align-items: center;
            list-style: none;

            &__item {
                a {
                    text-decoration: none;
                    padding: 5px;
                    color: $color-primary-dark;
                    font-weight: 700;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
} // fim header

.banner {
    height: 70px;
    background: linear-gradient(
        135deg,
        $color-primary 35%,
        $color-primary-dark 80%
    );
    text-align: center;
    line-height: 70px;
    margin-bottom: 50px;

    &__title {
        color: $color-white;
        font-size: 5rem;
    }
}

.news-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 64px;
    margin: 20px;

    .news-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        &__title {
            margin-top: 10px;
            font-size: 2rem;
        }

        &__button {
            margin-top: 20px;
            background: linear-gradient(
                135deg,
                $color-primary 35%,
                $color-primary-dark 80%
            );
            padding: 10px;
            width: 100px;
            text-align: center;
            border-radius: 50px;
            a {
                color: $color-white;
                text-decoration: none;
            }
        }
    }
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    height: 80px;
    background: linear-gradient(
        135deg,
        $color-primary 35%,
        $color-primary-dark 80%
    );
}

.saiba-mais-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 64px;
    margin: 20px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-primary-dark;
        height: 200px;

        a {
            text-decoration: none;
            color: $color-white;
        }
    }
}
